/* акцент синий #2196F3 */
/* основной цвет #212121 */
/* белый цвет #FFFFFF */
/* вторичный цвет #757575 */
/*  вторичный цвет фона #2F303A */

:root {
  --primary-text-color: #ffffff;
  --bgr-color: #2f303a;
  --icon-color: #afb1b8;
  --bgr-section: #1a1818;
  --btn-focus: rgb(165, 129, 13);
  --input-nottext: #2196f3;
  --input-text: #ffa000;
}

/* Сбросы */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--bgr-color);
  color: var(--primary-text-color);
  font-family: 'Nanum Myeongjo', serif;
  letter-spacing: 0.03em;
  font-style: normal;
}



.container {
  /* margin: 0 auto; */
  width: 1080px;
  /* padding-right:50px;
  padding-left: 50px; */
  
}

.section {
  margin: 20px auto;
  padding: 30px 100px 100px ;
  
  
  text-align: center;
  background-color: #1a1818;
}


.title {
  margin-bottom: 30px;
  text-align: center;
  
    font-size: 46px;
    font-weight: 600;
    line-height: 1.36;
  }
  

.title-text {
  font-weight: 700;
  text-align: left;
  color: var(--title-text-color);
}
.title3{
  font-size: 30px;
  font-weight: 500;
  line-height: 1.30;
  letter-spacing: 0.06em;
  text-align: center;
}
.last-sec2-title3{
 margin-bottom: 150px;
 margin-top: 150px;


}
.last-sec2{
  padding-bottom: 25px;
  position: relative;
}
.last-sec2-text{
  position: absolute;
  bottom: 5px;
  letter-spacing:7px;
}

/*-----------------HERO--------------- */

.hero-section {
  

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 1080px;
  min-height: 1350px;
  /* margin: 0 auto; */
  padding-top: 600px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;
  /* color: var(--title-white-color); */
  font-size: 86px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 0.06em;
  /* text-transform: uppercase; */
  /* width: 696px; */
  /* margin: 0 auto 30px; */
}
.hero-btn{
  display: inline-block;
  padding: 6px 22px;
  margin-top: 30px;
  width: 130px;
  height: 40px;
  background-color: var(--icon-color);
  border-radius: 10%;
  text-align: center;
  cursor: pointer;
  box-shadow: 15px 0 10px 0 rgba(0,0,0,0.2);
  color: var(--primary-text-color);
 
}

.hero-btn:focus , .hero-btn:hover {
  background-color: var(--btn-focus);
  box-shadow: 2px 0 2px 0 rgba(0,0,0,0.2);
}


/*--------------o u r s t o r y --------------*/

.story {
display: flex;
justify-content: space-between;
}

.story-text{
  margin-top: 30px;
  text-align: left;
}
/*------------ section-4-------------*/

.section-4{
  display: flex;
  justify-content: space-between;
  padding-top: 100px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg-section4.JPEG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*------------ Prodact -------------*/
.prod{
  margin-bottom: 0;
}

.prod-col{
  display: flex;
}
.prod-li{
  margin-bottom: 15px;
}
.prod-text {
  text-align: left;

}

.prod2 {
  margin-top: 0;
  height: 360px;
  background-image: linear-gradient(
     to right,
    rgba(47, 48, 58, 0.4) 50%,
    rgba(47, 48, 58, 0.4)
  ),
    url(../images/o\ u\ r\ p\ r\ o\ d\ u\ c\ t\ i\ o\ n.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto;
}


/* section 6 */

.sec-6 {
  height: 800px;
  background-image: linear-gradient(
     to right,
    rgba(47, 48, 58, 0.4) ,
    rgba(47, 48, 58, 0.4)
  ),
    url(../images/section6.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* -------IBC----------- */
.ibc-main{
  position: relative;
}
.ibc{
  display: flex;
  justify-content: space-between;
  /* position: relative; */
}
.ibc-left{
  margin-right: 20px;
}
.ibc-title3{
  margin-bottom: 30px;
  
}
.ibc-title4{
  margin-bottom: 20px;
}


.ibc-item{
  margin-bottom: 180px;
}
.ibc-item:nth-child(2n) {
  margin-bottom: 0;
}
.ibc-text{
  font-size: 12px;
  font-weight: 300;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: left;
}
.ibc-img {
  position: absolute;
  top: 230px;
  left: 380px;
  
}
/* --------last saction------------ */
.last-sec{
  height: 900px;
  background-image: linear-gradient(
     to right,
    rgba(47, 48, 58, 0.4) ,
    rgba(47, 48, 58, 0.4)
  ),
    url(../images/lastsection.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}





/*------------- Футер---------------- */
.footer-section {
  padding-bottom: 20px;
}

.footer-inf{
  display: flex;
  justify-content: center;
  align-items:flex-end;
  justify-content: space-between;

}
.footer-list{
  text-align: left;
}

.footer-img-text{
  margin-bottom: 5px;
}
.footer-icon {
  fill: var(--primary-text-color);

  
}
.footer-item-link{
  color: var(--primary-text-color);
}
.footer-item-link:focus, .footer-item-link:hover{
  color: var(--btn-focus);
}
.signup-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  display: flex;
  justify-content: center;

  margin-bottom: 15px;
  margin-top: 5px;
  height: 25px;
  width: 220px;

}
.input:placeholder-shown {
  border-color: var(--input-text);
}

.input:not(:placeholder-shown) {
  border-color: var(--input-nottext);
}
.label{
  text-align: left;
}
.btn-form {
  /* width: 80px;
  height: 30px; */
  margin-right: 15px;
  border-radius: 10%;

  background-color: var(--primary-text-color);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.btn-form:hover, .btn:focus {
 background-color: var(--btn-focus);
}
