/* акцент синий #2196F3 */
/* основной цвет #212121 */
/* белый цвет #FFFFFF */
/* вторичный цвет #757575 */
/*  вторичный цвет фона #2F303A */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --title-white-color: #ffffff;
  --bgr-color: #2f303a;
  --logo-dark-color: #000000;
  --btn-color: #f5f4fa;
  --icon-color: #afb1b8;
}

/* Сбросы */

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.list {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--title-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address {
  font-style: normal;
  line-height: 1.71;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding: 94px 0;
}

.title-text {
  font-weight: 700;
  text-align: left;
  color: var(--title-text-color);
}

/* -------------header------------- */

.container-header {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.information-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.header {
  border: 1px solid #ececec;
}

.accent-dark {
  color: var(--logo-dark-color);
}

.accent-white {
  color: var(--title-white-color);
}
.header-contact {
  margin-left: 50px;
}

.header-logo {
  margin-right: 93px;
}
.header-item {
  display: flex;
  align-items: center;
  position: relative;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}

.link {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.02em;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-bottom: 0;
}
.header-list a:hover,
.header-list a:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
.current::after {
  content: "";
  height: 4px;
  display: block;
  background-color: var(--accent-color);
  margin-top: 28px;
  margin-bottom: 0;
  border-radius: 2px;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -28px;
}
.contact {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-mail {
  display: flex;
  align-items: center;
}

.inf-icon {
  width: 16px;
  height: 12px;
  fill: var(--primary-text-color);
  margin-right: 6px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover .inf-icon {
  fill: var(--accent-color);
}

.contact:focus .inf-icon {
  fill: var(--accent-color);
}
.contact:hover .tel-icon {
  fill: var(--accent-color);
}

.contact:focus .tel-icon {
  fill: var(--accent-color);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}
.tel-icon {
  align-items: center;
  height: 16px;
  width: 10px;
  margin-right: 6px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*-----------------HERO--------------- */

.hero-section {
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  margin-bottom: 30px;
  color: var(--title-white-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto 30px;
}

/* ------------- Особенности------------- */

.peculiarities-list {
  display: flex;
}
.pecul-item:not(:last-child) {
  margin-right: 30px;
}
.pecul-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.peculiarities-second-text {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  text-align: left;
}
.pecul-icon {
  align-items: center;
}
.icon {
  display: flex;
  width: 270px;
  height: 120px;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/*--------------Работа--------------*/

.section-work {
  padding-top: 0;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
.work {
  display: flex;
  justify-content: space-between;
}
.work-item {
  position: relative;
}

.work-text {
  position: absolute;

  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--title-white-color);
  width: 100%;
}
/*------------ Наша команда -------------*/

.section-team {
  background: var(--btn-color);
}
.team-list .title {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  text-align: center;
}
.team-list {
  display: flex;
  margin-bottom: 0;
  margin-left: -30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--title-white-color);
}
.team-second-text {
  margin-bottom: 16px;
}

.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title {
  margin-bottom: 10px;
}
.team-list-item {
  display: flex;
  justify-content: center;
}
.social-item {
  margin-right: 10px;
}
.social-item:last-child {
  margin-right: 0;
}

.social-link {
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: var(--title-white-color);
  border-radius: 50%;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--title-white-color);
}

/*------------ Clients -------------*/

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.clients-item {
  margin-right: 30px;

  box-sizing: border-box;
}
.clients {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  fill: var(--icon-color);
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients:hover .clients-icon {
  fill: var(--accent-color);
}
.clients:focus .clients-icon {
  fill: var(--accent-color);
}
.clients:hover,
.clients:focus {
  border-color: var(--accent-color);
}

/* button */
.hero-button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;

  color: var(--title-white-color);
  background: var(--accent-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*------------- Футер---------------- */

.futer {
  background-color: var(--bgr-color);
  padding: 60px 0;
}
.futer-logo {
  margin-bottom: 20px;
}
.futer .address {
  color: var(--title-white-color);

  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  margin-bottom: 9px;
  margin-top: 20px;
}
.futer .inf {
  font-family: Roboto;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

.futer-inf-mail {
  display: block;
  margin-bottom: 9px;
}
.futer-inf-tel {
  display: block;
}
.futer-container {
  display: flex;
  align-items: baseline;
}
.futer-left {
  margin-right: 70px;
}

.futer-right-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: left;
  color: var(--title-white-color);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.futer-right-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.futer-right-list-icon {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.futer-right-list-icon:hover,
.futer-right-list-icon:focus {
  background-color: var(--accent-color);
}

.futer-icon {
  fill: var(--title-white-color);

  align-items: center;
  justify-content: center;
}
.futer-right-item {
  width: 44px;
  height: 44px;
}

.futer-right-item:not(:last-child) {
  margin-right: 10px;
}

/*--------------- Portfolio ------------*/

/*----------- Button ---------*/

.btn {
  padding: 6px 22px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--bgr-color);
  border-radius: 4px;
  cursor: pointer;
  transition: color 250 ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250 ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250 ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-item {
  margin-right: 8px;
}

.btn-item:last-child {
  margin-right: 0px;
}
.btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);

  color: var(--btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples .title {
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

/* -------Примеры работ-------- */

.example-text {
  margin-bottom: 8px;

  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}
.example-items-text {
  position: relative;
  overflow: hidden;
}
.example-top-text {
  position: absolute;
  padding: 63px 24px;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--title-white-color);
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  top: 0;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-item:hover .example-top-text {
  transform: translateY(0);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.second-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.example-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.example-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
  background: var(--title-white-color);
  border: 1px solid #eeeeee;
}

.main-example-text {
  margin: 20px 24px;
}
.backdrop {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  width: 528px;
  height: 581px;
  background: var(--title-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
}
.btn-close {
  width: 30px;
  height: 30px;
  background: var(--title-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
